body{
    background-color: #C5E6F9;
    color: #1E1E1F;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#root {
    margin:24px;
    background-color: #94bed7;
    border-radius: 25px;
    padding: 24px;
    height: auto;
  }
